---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/footer/Footer.astro";
import "../style/main.scss";

const pageTitle = "About me";
const identity = {
  firstName: "Maxim",
  country: "Inferno",
  occupation: "coach",
  hobbies: ["Breaking", "Tattoo", "Programming"],
};
const skills = ["HTML", "SASS", "JavaScript", "React", "Astro", "Express"];
---

<Header />
<Hero />
<div class="about">
  <div class="about__box">
    <div class="info">
      <h1 class="info__title">{pageTitle}</h1>
      <p class="info__par">
        Hello! My name is {identity.firstName}. I live in {identity.country} and
        I work as a {identity.occupation}. Three of my hobbies are: {
          identity.hobbies[0]
        },{identity.hobbies[1]}
        and {identity.hobbies[2]}.
      </p>
    </div>
    <div class="skillBox">
      <p>My skills are:</p>
      <ul>
        {skills.map((skill) => <li>{skill}</li>)}
      </ul>
    </div>
  </div>
</div>
<Footer />

<style lang="scss">
  .about {
    display: grid;
    justify-content: center;

    &__box {
      width: 1024px;
      height: 666px;
      margin-top: 30px;
    }

    .info {
      width: 570px;

      &__title {
        margin-bottom: 10px;
      }

      &__par {
        line-height: 26px;
      }
    }

    .skillBox {
      margin-top: 30px;
      line-height: 22px;
    }
  }
</style>
